.effect-timer {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border: .5rem solid #E5E5E5;
    border-top-color: #E8AA50;
    animation: rotating 1s infinite;
}

@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}

.timer-content {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: #E7D8FD;
    margin: 0 auto;
    margin-top: -37.5rem;
}

/* CONTROLLERS */

.timer-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4rem;
    gap: 3rem;
}

.timer-controller button {
    border: none;
    background-color: #FFF;
}

.timer-controller button img{
    width: 3rem;
    height: 3rem;
}

.timer-controller button img:hover{
    filter: invert(75%);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* SOUNDS */

.sounds-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}

.sounds-content button {
    border-radius: 50%;
    border: none;
    background-color: #E7D8FD;
    width: 9rem;
    height: 9rem;
}

.sounds-content button img {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.sounds-content button img:hover{
    filter: invert(100%);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.sounds-content button:hover {
    background-color: #E8AA50;
    transition: all 300ms ease-in-out;
}
